%nav
  #nav_wrapper
    %a
      = image_tag "icons/archives.png"
      %span Dashboard
    %a
      = image_tag "icons/archives.png"
      %span Items
    %a
      = image_tag "icons/archives.png"
      %span Inbox
    %a
      = image_tag "icons/archives.png"
      %span Blog
    %a
      = image_tag "icons/archives.png"
      %span Settings
    